@use "src/styles/variables" as v;

.mob_nav_menu_container {
  width: 100%;
  height: calc(100% - 64px);
  background-color: v.$main-background;
  padding: v.$padding-1;
  position: absolute;
  bottom: 0;
}

.mob_nav_menu {

  .mob_nav_menu_list {

  }

  li {
    height: 60px;
    border-bottom: 1px solid #838996;
    display: flex;
    align-items: center;
  }

  a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f8f7ff;
  }
}