/* Backgrounds */
$main-background: #000;
$main-body-background: #000;
$header-background: #000;
$main-page-background: #111;
//$main-page-background: #f9f5ff;
$main-header-background: #4f9d69;
$active-navigation-background: #5e2bff;
$close-btn-color: red;

/* Colors */
$main-desktop-navigation-text-color: #fff;
$main-text-color: #fff;
$white-1: #f8f7ff;
$grey-1: #838996;
$grey-2: #333;
$blue-1: #0bc9cd;
$purple-1: #5e2bff;
//9381ff -- light purple
//#5e2bff -- purple
//011627 -- black

/* Flex */
$flex: flex;
$flex-row: row;
$flex-col: column;

/* Font-Sizes */
$font-s-1: 1.3rem;
$font-s-2: 1.2rem;

/* Padding/Margin */
$padding-1: 1.25rem;
$padding-2: 0.5rem;
$padding-3: 0.2rem;
$padding-4: 2rem;

/* Borders */
$border-radius-1: 4px;
$border-radius-2: 8px;

/* Height */
$height-55px: 55px;