@use "src/styles/mixin" as m;
@use "src/styles/variables" as v;

.account_layout {
  @include m.fullSize($height: calc(100% - 104px));
  display: flex;
  flex-direction: column;
}

@media (min-width: 915px) {
  .account_layout {
    align-items: center;
  }

  .user_acc_heading_header {
    width: 75%;
  }
}