@use "src/styles/variables" as v;
@use "src/styles/mixin" as m;

.user_acc_settings {
  @include m.fullSize;
  display: flex;
  flex-direction: column;
}

@media (min-width: 915px) {
  .user_acc_settings {
    align-items: center;
  }

  .user_acc_heading_header {
    width: 75%;
  }
}